<!DOCTYPE HTML>

<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
    Team Name: <input type="text" name="team[name]">
    Team Motto: <input type="text" name="team[motto]">
    Member 1 Name: <input type="text" name="team[members][][name]" id="member1_name">
    Member 1 Power: <input type="text" name="team[members][][power]" id="member1_power">
    Member 1 Bio: <input type="text" name="team[members][][bio]" id="member1_bio">
    Member 2 Name: <input type="text" name="team[members][][name]" id="member2_name">
    Member 2 Power: <input type="text" name="team[members][][power]" id="member2_power">
    Member 2 Bio: <input type="text" name="team[members][][bio]" id="member2_bio">
    Member 3 Name: <input type="text" name="team[members][][name]" id="member3_name">
    Member 3 Power: <input type="text" name="team[members][][power]" id="member3_power">
    Member 3 Bio: <input type="text" name="team[members][][bio]" id="member3_bio">
  <input title="submit" id="submit" type="submit">
</form>